In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\swastika\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio~=0.17 in c:\users\swastika\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\swastika\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\swastika\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\swastika\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\swastika\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\swastika\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\swastika\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\swastika\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\swastika\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\swastika\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\swastika\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\swastika\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\swastika\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\swastika\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\swastika\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\swastika\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Question No : 1

In [49]:
driver=webdriver.Chrome(r"C:\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [50]:
driver.get("https://www.naukri.com/")

In [51]:
skill=driver.find_element(By.CLASS_NAME,"suggestor-input ")
skill.send_keys("Data Analyst")

In [52]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [53]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [54]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [55]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[:10]:
    title=i.text
    job_title.append(title)

In [56]:
location_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[:10]:
    location=i.text
    job_location.append(location)
    
company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[:10]:
    company=i.text
    company_name.append(company)

experience_tag=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tag[:10]:
    exp=i.text
    experience_required.append(exp)

In [57]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [58]:
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Title,Location,Company,Experience
0,Data Analyst- Yulu Energy,Bangalore/Bengaluru,Yulu Bikes,0-1 Yrs
1,Data Analyst,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",EY,5-10 Yrs
2,Data Analyst - Pharma/hls Domain (4-9 Years),"Bangalore/Bengaluru, Mumbai, Pune, Gurgaon/Gur...",Fractal Analytics,10-20 Yrs
3,Data Analyst,Hybrid - Bangalore/Bengaluru,Allegis Group,4-7 Yrs
4,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
5,Data Analyst,Bangalore/Bengaluru,Staffice Global,14-18 Yrs
6,Data Analyst,Bangalore/Bengaluru,What Digital Technologies,5-10 Yrs
7,Data Analyst,Bangalore/Bengaluru,FresherMart,2-3 Yrs
8,Data Analyst Databricks,Bangalore/Bengaluru,Optum,4-6 Yrs
9,Data Analyst,Bangalore/Bengaluru,Siemens,1-4 Yrs

Question No : 2

In [61]:
driver1=webdriver.Chrome(r"C:\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [62]:
driver1.get("https://www.naukri.com/")

In [63]:
skill1=driver1.find_element(By.CLASS_NAME,"suggestor-input")
skill1.send_keys("Data Scientist")

In [64]:
location1=driver1.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location1.send_keys("Bangalore")

In [65]:
search1=driver1.find_element(By.CLASS_NAME,"qsbSubmit")
search1.click()

In [18]:
job_title=[]
job_location=[]
company_name=[]

In [19]:
title_tag=driver1.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)
    
location_tag=driver1.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)

company_tag=driver1.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)

In [20]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [21]:
df1=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name})
df1

,Title,Location,Company
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data Scientist,"Hybrid - Bangalore/Bengaluru, Kolkata, Hyderab...",Cognizant
3,Staff Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
4,Sr. Data scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, M...",Tata Consultancy Services (TCS)
5,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",Capgemini
6,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
7,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",UPL Limited
8,Data Scientist Architect,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Brace Infotech
9,Data Scientist,"Bangalore/Bengaluru, Noida, Indore, Pune, Gurg...",Impetus Technologies

Question No : 3

In [22]:
driver2=webdriver.Chrome(r"C:\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [23]:
driver2.get("https://www.naukri.com/")

In [24]:
skill2=driver2.find_element(By.CLASS_NAME,"suggestor-input")
skill2.send_keys("Data Scientist")

In [25]:
search2=driver2.find_element(By.CLASS_NAME,"qsbSubmit")
search2.click()

In [27]:
filter_location=driver2.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i')
filter_location.click()

In [29]:
filter_salary=driver2.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
filter_salary.click()

In [30]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [31]:
title_tag=driver2.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)
    
location_tag=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
company_tag=driver2.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tag=driver2.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tag[0:10]:
    experience=i.text
    experience_required.append(experience)

In [32]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [33]:
df2=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df2

,Title,Location,Company,Experience
0,Data Scientist data Analyst,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Smark Laser Automation,0-5 Yrs
1,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
2,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
3,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
4,Senior Data Scientist - Statistics,Gurgaon/Gurugram,Optum,5-8 Yrs
5,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
6,Data Scientist,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-7 Yrs
7,Associate Data Scientist - ML & NLP,Gurgaon/Gurugram,Gartner India Research &amp; Advisory Services...,2-4 Yrs
8,Data Scientist,"Hybrid - Delhi / NCR, Noida, New Delhi, Gurgao...",Nits Solutions,3-7 Yrs
9,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs

Question No : 4

In [3]:
driver3=webdriver.Chrome(r"C:\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [5]:
driver3.get("https://www.flipkart.com/")

In [6]:
search=driver3.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys("sunglasses")

In [7]:
search1=driver3.find_element(By.CLASS_NAME,"L0Z3Pu")
search1.click()

In [8]:
brand=[]
product=[]
price=[]

In [9]:
start=0
end=3
for i in range(start,end):
    brand_tag=driver3.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag[0:100]:
        brand.append(i.text)
    product_tag=driver3.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tag[0:100]:
        product.append(i.text)
    price_tag=driver3.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag[0:100]:
        price.append(i.text)
    next_button=driver3.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [10]:
print(len(brand),len(product),len(price))

120 120 120

Question No : 5

In [56]:
driver4=webdriver.Chrome(r"\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [57]:
driver4.get("https://www.flipkart.com/")

In [58]:
search=driver4.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys("i phone-11-black-64gb")

In [60]:
search1=driver4.find_elements(By.CLASS_NAME,'L0Z3Pu')
search1.click()

AttributeError: 'list' object has no attribute 'click'

Question No : 6

In [12]:
driver5=webdriver.Chrome(r"\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [13]:
driver5.get("https://www.flipkart.com/")

In [14]:
search=driver5.find_element(By.CLASS_NAME,"_3704LK")
search.send_keys("sneakers")

In [15]:
search1=driver5.find_element(By.CLASS_NAME,"L0Z3Pu")
search1.click()

In [16]:
brand=[]
product=[]
price=[]

In [18]:
start=0
end=3
for i in range(start,end):
    brand_tag=driver5.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tag[0:100]:
        brand.append(i.text)
    product_tag=driver5.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tag[0:100]:
        product.append(i.text)
    price_tag=driver5.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag[0:100]:
        price.append(i.text)
    next_button1=driver5.find_elements(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button1.click()
    time.sleep(3)

AttributeError: 'list' object has no attribute 'click'

In [48]:
print(len(brand),len(product),len(price))

40 39 40

Question No : 7

In [61]:
driver6=webdriver.Chrome(r"\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [62]:
driver6.get("https://www.amazon.in/")

In [63]:
search=driver6.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("Laptop")

In [64]:
search1=driver6.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search1.click()

In [65]:
filter_laptop=driver6.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[10]/span/a/div/label/i')
filter_laptop.click()

In [66]:
title=[]
rating=[]
price=[]

In [67]:
title_tag=driver6.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tag[0:10]:
    tit=i.text
    title.append(tit)
    
rating_tag=driver6.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tag[0:10]:
    rat=i.text
    rating.append(rat)

price_tag=driver6.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag[0:10]:
    pri=i.text
    price.append(pri)

In [68]:
print(len(title),len(rating),len(price))

10 10 10

In [70]:
df6=pd.DataFrame({"Title":title,"Rating":rating,"Price":price})
df6

                                               Title Rating     Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...    4.3    89,990
1  Lenovo Legion 5 Intel Core i7 11th Gen 15.6" (...    2.9  1,17,990
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...    4.1    56,990
3  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    4.0    94,490
4  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...    4.0    77,990
5  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...    4.2  1,03,990
6  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...    3.8    89,990
7  MSI GF75 Thin Gaming, Intel Core i7-10750H, 44...    4.4    62,990
8  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...    5.0  1,49,610
9  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...    3.3    84,918

Question No : 8

In [19]:
driver7=webdriver.Chrome(r"\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [20]:
driver7.get("https://www.azquotes.com/")

In [21]:
top_quotes=driver7.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
top_quotes.click()

In [22]:
quote=[]
authors=[]
type_Of_quotes=[]

In [25]:
start=0
end=10
for i in range(start,end):
    quote_tag=driver7.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote_tag[0:]:
        qu=i.text
        quote.append(qu)
    
    authors_tag=driver7.find_elements(By.XPATH,'//div[@class="author"]')
    for i in authors_tag[0:]:
        au=i.text
        authors.append(au)
        
    type_quotes_tag=driver7.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_quotes_tag[0:]:
        quo=i.text
        type_Of_quotes.append(quo)
        
    next_button2=driver7.find_elements(By.XPATH,'//li[@class="next"]')
    next_button2.click()
    timr.sleep(3)

AttributeError: 'list' object has no attribute 'click'

Question No : 9

In [26]:
driver7=webdriver.Chrome(r"\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [27]:
driver7.get("https://www.jagranjosh.com/")

In [28]:
gk=driver7.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [31]:
prime_minster=driver7.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
prime_minster.click()

In [32]:
name=[]
born_dead=[]
term_of_office=[]
remarks=[]

In [41]:
name_tag=driver7.find_elements(By.XPATH,'//p[@class="__web-inspector-hide-shortcut__"]')
for i in name_tag[0:]:
    na=i.text
    name.append(na)

In [42]:
print(name)

['Jawahar Lal Nehru', '']

Question No : 10

In [71]:
driver9=webdriver.Chrome(r"\Users\SWASTIKA\chromedriver_win32.zip\chromedriver.exe")

In [72]:
driver9.get("https://www.motor1.com/")

In [74]:
moto=driver9.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[1]/div')
moto.click()

In [78]:
exe=driver9.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]')
exe.click()

In [81]:
car=driver9.find_element(By.CLASS_NAME,'text-box')
car.click()

In [82]:
car_name=[]
price=[]

In [87]:
name_tag=driver9.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tag[0:50]:
    name=i.text
    car_name.append(name)

price_tag=driver9.find_elements(By.XPATH,'//p[@class="__web-inspector-hide-shortcut__"]')
for i in price_tag[0:50]:
    pri=i.text
    price.append(pri)

In [88]:
print(len(car_name),len(price))

100 1